<!-- Modal Basic -->
<div class="modal fade modalbox" id="modalActivity" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form (ngSubmit)="onInsert()" #callForm="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Activity</h5>
                    <a href="javascript:;" data-dismiss="modal">Close</a>
                </div>

                <div class="modal-body p-0">

                    <div id="activityTabs" [hidden]="module == 'activity'">
                        <ngb-tabset (tabChange)="tabEvent($event)">

                            <!-- CALL  -->
                            <ngb-tab title="Log a Call" id="100">
                                <ng-template ngbTabContent>
                                    <div class="px-3 bg-white pb-3">

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Subject </b> </label>
                                                <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" placeholder="Subject" required>
                                            </div>
                                        </div>

                                        <div class="form-group basic  mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b> Notes</b> </label>
                                                <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group basic  mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b>Date and Time</b></label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" [(ngModel)]="model.due_date" placeholder="YYYY-MM-DD" name="due_date" ngbDatepicker #due_date="ngbDatepicker" (click)="due_date.toggle()">
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="time" class="form-control" [(ngModel)]="model.start_time" name="start_time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group basic  mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b> Name</b></label>
                                                <select class="form-control" [(ngModel)]="model.id_person" required [ngModelOptions]="{standalone: true}">
                                                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- <div class="col-12 py-1 d-none">
                                            <label class="label"><b> Assigned To</b></label>
                                            <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                                                <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                                            </select>
                                        </div> -->

                                    </div>

                                </ng-template>
                            </ngb-tab>

                            <!-- TASK -->
                            <ngb-tab title="New Task" id="1">
                                <ng-template ngbTabContent>
                                    <div class="px-3 bg-white pb-3">


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Subject</b></label>
                                                <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" placeholder="Subject" required>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b> Due Date</b></label>
                                                <input type="text" class="form-control" [(ngModel)]="model.due_date" placeholder="YYYY-MM-DD" name="due_date" ngbDatepicker #due_date="ngbDatepicker" (click)="due_date.toggle()">
                                            </div>
                                        </div>

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b> Assigned To</b></label>
                                                <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                                                    <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b> Name</b></label>
                                                <select class="form-control" [(ngModel)]="model.id_person" [ngModelOptions]="{standalone: true}">
                                                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>




                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b> Notes</b></label>
                                                <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                                            </div>
                                        </div>



                                    </div>

                                </ng-template>
                            </ngb-tab>

                            <!-- VISIT -->
                            <ngb-tab title="Visit" id="200">
                                <ng-template ngbTabContent>
                                    <div class="px-3 bg-white pb-3">

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b> Subject</b></label>
                                                <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" required>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b> Description</b></label>
                                                <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label" id="j1"> <b> Budget Amount (IDR)</b></label>
                                                <input type="text" name="amount" class="form-control" [(ngModel)]="model.amount" j1="h1" currencyMask>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b> Check In Date and Time</b></label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" readonly placeholder="YYYY-MM-DD" name="start_date" [(ngModel)]="model.start_date" ngbDatepicker #start_date="ngbDatepicker" (click)="start_date.toggle()">
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="time" class="form-control" [(ngModel)]="model.start_time" name="start_time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b> Check Out Date and TIme</b></label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" readonly placeholder="YYYY-MM-DD" name="end_date" [(ngModel)]="model.end_date" ngbDatepicker #end_date="ngbDatepicker" (click)="end_date.toggle()">
                                                    </div>

                                                    <div class="col-6">
                                                        <input type="time" class="form-control" [(ngModel)]="model.end_time" name="end_time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Name </b></label>
                                                <select class="form-control" [(ngModel)]="model.id_person" [ngModelOptions]="{standalone: true}">
                                                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b> Assigned To</b></label>
                                                <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                                                    <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>

                                </ng-template>
                            </ngb-tab>

                            <!-- EVENT -->
                            <ngb-tab title="New Event" id="300">
                                <ng-template ngbTabContent>
                                    <div class="px-3 bg-white pb-3">

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Subject</b></label>
                                                <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" placeholder="Subject" required>
                                            </div>
                                        </div>



                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Description</b></label>
                                                <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label" id="j1"> <b>Budget Amount (IDR)</b> </label>
                                                <input type="text" name="amount" class="form-control" [(ngModel)]="model.amount" j1="h1" currencyMask>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b> Event Start Date and Time </b></label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" readonly placeholder="YYYY-MM-DD" name="start_date" [(ngModel)]="model.start_date" ngbDatepicker #start_date="ngbDatepicker" (click)="start_date.toggle()">
                                                    </div>

                                                    <div class="col-6">
                                                        <input type="time" class="form-control" [(ngModel)]="model.start_time" name="start_time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Event End Date and Time</b></label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" readonly placeholder="YYYY-MM-DD" name="end_date" [(ngModel)]="model.end_date" ngbDatepicker #end_date="ngbDatepicker" (click)="end_date.toggle()">
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="time" class="form-control" [(ngModel)]="model.end_time" name="end_time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Name</b> </label>
                                                <select class="form-control" [(ngModel)]="model.id_person" [ngModelOptions]="{standalone: true}">
                                                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b> Assigned To</b></label>
                                                <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                                                    <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </ng-template>
                            </ngb-tab>

                            <!-- NOTE -->
                            <ngb-tab title="Note" id="400">
                                <ng-template ngbTabContent>
                                    <div class="px-3 bg-white pb-3">

                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"> <b>Subject</b></label>
                                                <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" placeholder="Subject" required>
                                            </div>
                                        </div>


                                        <div class="form-group basic mb-1">
                                            <div class="input-wrapper">
                                                <label class="label"><b> Notes</b></label>
                                                <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                </ng-template>
                            </ngb-tab>

                        </ngb-tabset>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-classic btn-sm px-5 " (click)="cancelActivity();">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm px-5 mx-1" [disabled]="!callForm.form.valid">Save</button>
                </div>

            </div>
        </form>
    </div>


</div>
<!-- * Modal Basic -->


<div class="p-2">
    <button type="button" class="btn btn-whatsapp btn-block" data-toggle="modal" data-target="#modalActivity">
         New Activity
    </button>
</div>



<div class="text-center" [hidden]="!loading"><small> Loading...</small> </div>

<div class="bg-light px-2" [hidden]="activityLatest.length < 1">
    <h3> Latest Activities ({{activityLatest.length}}) </h3>
</div>



<div class="activity-log act-{{x.activity_type.id}}" *ngFor="let x of activityLatest; let i = index">


    <div class="px-3 py-2" [ngClass]="{'bg-odd': i%2==0}">
        <div class="row">
            <div class="col-12">
                <small> {{x.due_date | date:'mediumDate'}} <code>{{x.activity_type.name}}</code></small>
            </div>

            <div class="col-12">
                <a href="javascript:;" (click)="x.description ? showLatest(i) : false;"> <b class="text-primary">{{x.subject}}</b> </a>
                <a class="ml-2 text-gray py-0" [hidden]="!x.description" (click)="x.description ? showLatest(i) : false;">
                    <ion-icon name="caret-down-outline"></ion-icon>
                </a>
            </div>


        </div>

        <div>

            <small class="btn btn-sm btn-classic py-0 mr-2" [hidden]="!x.person.origin">{{x.person.origin}}</small>
            <small>Assigned To <span class="text-primary"> {{x.user}}</span> for <span class="text-primary">
                    {{x.person.name}} </span> <span [hidden]="!x.person.company"> ({{x.person.company}}) </span> </small>

        </div>

        <div class="row no-gutters">
            <div class="col-3">
                <button type="button" class="btn btn-primary btn-block btn-sm rounded-0" (click)="fn_closed_area(i);">Closed</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-danger btn-block btn-sm rounded-0" (click)="fn_remove(x);">Remove</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-whatsapp btn-block btn-sm rounded-0" (click)="showLatest(i);">Reply</button>
            </div>
            <div class="col-3" [hidden]="x.activity_comment.length < 1">
                <button type="button" class="btn btn-warning btn-block btn-sm rounded-0" (click)="showLatest(i);">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon> {{x.activity_comment.length}}
                </button>
            </div>

        </div>

        <div [hidden]="!x.closed_area" class="text-right">

            <textarea class="form-control form-control-sm my-2 p-1" rows="8" [(ngModel)]="x.comment" placeholder="Closed this activity. Note your comment"></textarea>

            <div class="row">
                <div class="col-6">
                    <button class="btn  btn-outline-primary btn-block rounded-0" (click)="fn_closed_area(i);">Cancel</button>
                </div>
                <div class="col-6">
                    <button class="btn  btn-primary btn-block rounded-0" (click)="fn_closed(x)">Closed</button>
                </div>
            </div>


        </div>

        <div [hidden]="!x.show">
            <div class="p-2 mt-2 border rounded">
                <div class="bg-light" [innerHTML]="x.description" [hidden]="!x.description" style=" white-space: pre-line; font-size: 14px;"></div>
                <small [innerHTML]="x.log"></small>
            </div>

            <div class=" mt-2 ml-3" *ngFor="let a of x.activity_comment">
                <div class="p-2 border rounded">
                    <small [innerHTML]="a.comment"></small>
                </div>
                <small> {{a.input_date | date:'mediumDate'}}, {{a.input_date | date:'shortTime'}} </small>
            </div>

        </div>

        <div [hidden]="!x.show" class="mt-3">
            <div class="ml-3">
                <textarea class="form-control p-1" rows="4" [(ngModel)]="x.comments"></textarea>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <button type="button" class="btn btn-outline-primary rounded-0 btn-block" (click)="x.show = false">Cancel</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary btn-block rounded-0" (click)="fn_comments(x.comments,x.id,i,0); x.comments = ''">Post</button>
                </div>


            </div>
        </div>

    </div>
</div>



<div class="bg-light px-2 mt-3" [hidden]="activityHistory.length < 1">
    <h3> History Activities ({{activityHistory.length}}) </h3>
</div>

<div [hidden]="module == 'activity'" class="activity-log act-{{x.activity_type.id}}" *ngFor="let x of activityHistory; let i = index">

    <div class="px-3 py-2" [ngClass]="{'bg-odd': i%2==0}">
        <div class="row">
            <div class="col-12">
                <small> {{x.due_date | date:'mediumDate'}} <span [hidden]="x.activity_type.id != 100"> {{x.due_date | date:'shortTime'}} </span>
                    <code>{{x.activity_type.name}}</code></small>
            </div>
            <div class="col-12">
                <a href="javascript:;" (click)="showHistory(i)"> <b class="text-primary">{{x.subject}}</b> </a>
                <a class="ml-2 text-gray py-0" [hidden]="!x.description && !x.comment" (click)="showHistory(i)">
                    <ion-icon name="caret-down-outline"></ion-icon>
                </a>
            </div>
        </div>


        <div>
            <small class="btn btn-sm btn-classic py-0 mr-2" [hidden]="!x.person.origin">{{x.person.origin}}</small>
            <small>Assigned To <span class="text-primary"> {{x.user}}</span> for <span class="text-primary">
                    {{x.person.name}} </span> <span [hidden]="!x.person.company"> ({{x.person.company}}) </span> </small>
        </div>


        <div class="row no-gutters">
            <div class="col-3">
                <button type="button" class="btn btn-whatsapp btn-block btn-sm rounded-0" (click)="showHistory(i)">Reply</button>
            </div>
            <div class="col-3" [hidden]="x.activity_comment.length < 1">
                <button type="button" class="btn btn-warning btn-block btn-sm rounded-0" (click)="x.description ? showHistory(i) : false;">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    {{x.activity_comment.length}}
                </button>
            </div>


        </div>




        <div [hidden]="!x.show">
            <div class="p-2 mt-2 border rounded">
                <div class="text" [innerHTML]="x.description" [hidden]="!x.description" style=" white-space: pre-line; font-size: 14px;"></div>


                <fieldset class="border p-2 bg-light" [hidden]="!x.comment">
                    <legend class="w-auto"> <small>Closed Note </small></legend>
                    {{x.comment}}
                </fieldset>

                <small [innerHTML]="x.log"></small>
            </div>

            <div class=" mt-2 ml-3" *ngFor="let a of x.activity_comment">
                <div class="p-2 border rounded">
                    <small [innerHTML]="a.comment"></small>
                </div>
                <small> {{a.input_date | date:'mediumDate'}}, {{a.input_date | date:'shortTime'}} </small>
            </div>

        </div>


        <div [hidden]="!x.show" class="mt-3">
            <div class="ml-3">
                <textarea class="form-control p-1" rows="4" [(ngModel)]="x.comments"></textarea>
            </div>
            <div class="mt-1 text-right">
                <a href="javascript:;" (click)="x.show = false" class="px-3 py-0 btn btn-sm btn-classic mx-1">Cancel</a> <a href="javascript:;" class="px-3 py-0 btn btn-sm btn-primary" (click)="fn_comments(x.comments,x.id,i,1); x.comments = ''">Post</a>
            </div>
        </div>






    </div>
</div>