.inline-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.inline-text span {
    background: #fff;
    padding: 0 10px;
}

.position-ontop {
    position: fixed;
    top: 41px;
    left: 0px;
    z-index: 999;
    max-width: 900px;
    width: 100%;
}
.btn-classic {
    background: #fff;
    border: 1.3px solid #ddd;
}
.content {
    padding: 20px;
}
.activity-log{
   
    position: relative;  
}
.activity-log  .content{
    margin-top: -5px;
}
.activity-log .text{
    font-size: 14px; 
}
.activity-log .icon{
    position: absolute;
    left: -17px;
    top: 0px;
    border: 3px solid #fff;
    background: #ffffff;
    color: #4f5050;
    padding: 1px 5px;
    width: 26px;
    font-size: 17px;
}

.bg-odd{
    background: #f2f7ff;
}
