<!-- App Bottom Menu -->
<div class="appBottomMenu">
    <a [routerLink]="[ '/home' ]" class="item active">
        <div class="col">
            <ion-icon name="grid-outline"></ion-icon>
        </div>
    </a>
    <a [routerLink]="[ '/dashLead' ]" class="item">
        <div class="col">
            <ion-icon name="pie-chart-outline"></ion-icon>
        </div>
    </a>

    <a [routerLink]="[ '/activity' ]" class="item">
        <div class="col">
            <ion-icon name="calendar-outline"></ion-icon>
        </div>
    </a>
    <a [routerLink]="[ '/contact' ]" class="item">
        <div class="col">
            <ion-icon name="person-outline"></ion-icon>
        </div>
    </a>
    
    <a [routerLink]="[ '/company' ]" class="item">
        <div class="col">
            <ion-icon name="business-outline"></ion-icon>
        </div>
    </a>
</div>
<!-- * App Bottom Menu -->