<div class="appHeader bg-warning">
    <div class="left">
        <a [routerLink]="[ '/home' ]" class="headerButton text-white">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </a>
    </div>

    <div class="pageTitle"> Dashboard</div>

    <div class="right">
        <a href="javascript:;" class="headerButton text-white" data-toggle="modal" data-target="#DialogIconedInfo">
            <ion-icon name="settings-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->
<!-- DialogIconedInfo -->
<div class="modal fade dialogbox" id="DialogIconedInfo" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    <ion-icon name="settings-outline"></ion-icon> Select Period or User
                </h5>
            </div>
            <div class="modal-body">


                <div class="row no-gutters">


                    <div class="col-12 mb-3">
                        <div class="m2-3"> Select User : </div>
                        <select class="form-control form-control-sm" (change)="onUser($event.target.value)" [(ngModel)]="id_user_select">
                            <option value="0">All Group</option>
                            <option *ngFor="let x of user" value="{{x.id}}"> {{x.name}} </option>
                        </select>
                    </div>



                    <div class="col-12 ">
                        <b> Select Period : </b>
                    </div>

                    <div class="row my-3">
                        <div class="col-4">
                            <button type="button" class="btn  btn-block" [ngClass]="{'btn-primary': period === 'month', 'btn-light'  : period != 'month' }" (click)="onPeriod('month');" [routerLink]="[ '/dashSales/month' ]">This Month</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn   btn-block" [ngClass]="{'btn-primary': period === 'quarter', 'btn-light'  : period != 'quarter' }" (click)="onPeriod('quarter');" [routerLink]="[ '/dashSales/quarter' ]">This Quarter </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn  btn-block " [ngClass]="{'btn-primary': period === 'year', 'btn-light'  : period != 'year' }" (click)="onPeriod('year');" [routerLink]="[ '/dashSales/year' ]">This Year</button>
                        </div>

                    </div>



                </div>




            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedInfo -->



<div id="appCapsule" class="mt-2">

    <div class="section mb-2">
        <h3> Target Salesman This Year </h3>
    </div>

    <div class="section full ">
        <div class="carousel-multiple owl-carousel owl-theme">


            <div class="item">
                <div class="card">
                    <div class="card-body pt-2 text-center">
                        <h4 class="pb-0 mb-0"> Quarter 1</h4>
                        <small>Achieve / Target</small>
                        <div class="py-1" *ngFor="let x of target; let i = index">

                            <div [hidden]="i > 0">
                                <span>{{currency}}</span> {{x.q1['achieve'] / 1000000 | number }} milion /
                                <span>{{currency}}</span> {{x.q1['target']  / 1000000 | number}} milion
                            </div>

                            <div [hidden]="i < 1">
                                {{x.q1['achieve']  | number }} / {{x.q1['target']  | number}}
                            </div>


                            <div>
                                <span [ngStyle]="{'color': x.background}">
                                    <ion-icon name="square"></ion-icon>
                                </span>
                                <small> {{x.name}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="card">
                    <div class="card-body pt-2 text-center">
                        <h4 class="pb-0 mb-0"> Quarter 2</h4>
                        <small>Achieve / Target</small>
                        <div class="py-1" *ngFor="let x of target; let i = index">

                            <div [hidden]="i > 0">
                                <span>{{currency}}</span> {{x.q2['achieve'] / 1000000 | number }} milion /
                                <span>{{currency}}</span> {{x.q2['target']  / 1000000 | number}} milion
                            </div>

                            <div [hidden]="i < 1">
                                {{x.q2['achieve']  | number }} / {{x.q2['target']  | number}}
                            </div>


                            <div>
                                <span [ngStyle]="{'color': x.background}">
                                    <ion-icon name="square"></ion-icon>
                                </span>
                                <small> {{x.name}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="card">
                    <div class="card-body pt-2 text-center">
                        <h4 class="pb-0 mb-0"> Quarter 3</h4>
                        <small>Achieve / Target</small>
                        <div class="py-1" *ngFor="let x of target; let i = index">

                            <div [hidden]="i > 0">
                                <span>{{currency}}</span> {{x.q3['achieve'] / 1000000 | number }} milion /
                                <span>{{currency}}</span> {{x.q3['target']  / 1000000 | number}} milion
                            </div>

                            <div [hidden]="i < 1">
                                {{x.q3['achieve']  | number }} / {{x.q3['target']  | number}}
                            </div>


                            <div>
                                <span [ngStyle]="{'color': x.background}">
                                    <ion-icon name="square"></ion-icon>
                                </span>
                                <small> {{x.name}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="card">
                    <div class="card-body pt-2 text-center">
                        <h4 class="pb-0 mb-0"> Quarter 4</h4>
                        <small>Achieve / Target</small>
                        <div class="py-1" *ngFor="let x of target; let i = index">

                            <div [hidden]="i > 0">
                                <span>{{currency}}</span> {{x.q4['achieve'] / 1000000 | number }} milion /
                                <span>{{currency}}</span> {{x.q4['target']  / 1000000 | number}} milion
                            </div>

                            <div [hidden]="i < 1">
                                {{x.q4['achieve']  | number }} / {{x.q4['target']  | number}}
                            </div>


                            <div>
                                <span [ngStyle]="{'color': x.background}">
                                    <ion-icon name="square"></ion-icon>
                                </span>
                                <small> {{x.name}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="section py-4">
        <h3>Bar Target Salesman This Year </h3>
        <div class="card">

            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="salesmanData" [labels]="salesmanLabels" [options]="salesmanOptions" [plugins]="salesmanPlugins" [legend]="salesmanLegend" [chartType]="salesmanType">
                    </canvas>
                </div>
                <div class="px-2"><small>(In 100 Million)</small></div>
            </div>

        </div>
    </div>

    <div class="section mb-2">
        <h3>Bar Target Leads, Opportunities, and Quotes This Year </h3>
        <div class="card">

            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="targetBarData" [labels]="targetBarLabels" [options]="targetBarOptions" [plugins]="targetBarPlugins" [legend]="targetBarLegend" [chartType]="targetBarType">
                    </canvas>
                </div>
            </div>

        </div>
    </div>


</div>


<app-app-bottom-menu></app-app-bottom-menu>