<!-- App Capsule -->
<div id="appCapsule" class="pt-0">

    <div class="login-form mt-5">
         
        <div class="section">
            
            <h3>  <img src="assets/img/salesTrax.png" alt="SalesTrax" width="30"> Sales Trax</h3> 
           <h1>Expired session </h1>
        </div>

        <div class="section mt-1"> 
            <h4>Welcome Back</h4> 
            <p> Your session has expired, please login again to continue. </p>
        </div>

        <div class="section mt-1 mb-5"> 
                
            <div class="py-4">
                <button type="button" (click)="relogin()"
                    class="btn btn-dark btn-block btn-lg rounded-0">Relogin </button>
            </div>
                 

                 
        </div>
    </div>

</div>
<!-- * App Capsule -->


 