<!-- App Header -->
<div class="appHeader bg-light text-dark">

    <div class="pageTitle">Sales Trax</div>
    <div class="right">
        <a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">
            <ion-icon name="menu-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->


<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">

                <!-- profile box -->
                <div class="profileBox bg-linkedin">
                    <div class="image-wrapper">
                        <img src="assets/img/salesTrax.png" alt="image" class="imaged rounded  bg-white shadow-sm">
                    </div>
                    <div class="in">
                        <strong>{{name}}</strong>
                        <div class="text-muted">
                           {{company}}
                        </div>
                    </div>
                    <a href="javascript:;" class="close-sidebar-button" data-dismiss="modal">
                        <ion-icon name="close"></ion-icon>
                    </a>
                </div>
                <!-- * profile box -->

                <ul class="listview flush transparent no-line image-listview mt-2">
                    <li>
                        <a href="javascript:;" class="item">
                            <div class="icon-box bg-linkedin">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </div>
                            <div class="in"> Profile </div>
                        </a>
                    </li>
                 
                    <li>
                        <a href="javascript:;" (click)="logout();" class="item">
                            <div class="icon-box bg-linkedin">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </div>
                            <div class="in"> Logout </div>
                        </a>
                    </li>

                </ul>



            </div>


        </div>
    </div>
</div>
<!-- * App Sidebar -->


<!-- App Capsule -->
<div id="appCapsule">

    <div class="section my-2">
        <div class="row">
            <div class="col-12">
                <h4>
                    Check In & Check Out
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6" *ngFor="let x of linksCheckIn">
                <div class="{{iconClass}}">
                    <a [routerLink]="[ '/',x.routerLink ]">
                        <img [src]="x.icon" width="30">
                        <div><small>{{x.name}}</small> </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="section my-2">
        <div class="row">
            <div class="col-12">
                <h4>
                    Menu
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4" *ngFor="let x of links">
                <div class="{{iconClass}}">
                    <a [routerLink]="[ '/',x.routerLink ]">
                        <img [src]="x.icon" width="30">
                        <div><small>{{x.name}}</small> </div>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <div class="section my-2">
        <div class="row">
            <div class="col-12">
                <h4>
                    Dashboards
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6" *ngFor="let x of linksDashboard">
                <div class="{{iconClass}}">
                    <a [routerLink]="[ '/',x.routerLink ]">
                        <img [src]="x.icon" width="30">
                        <div><small>{{x.name}}</small> </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="section my-2">
        <div class="row">
            <div class="col-12">
                <h4>
                    Reminder
                </h4>
            </div>
        </div>

        <div class="section full ">
            <div class="carousel-multiple owl-carousel owl-theme">

                <div class="item">
                    <div class="card">
                        <div class="card-body pt-2">
                            <h4>
                                <ion-icon name="trophy-outline"></ion-icon> &nbsp; TOP 5 RECENT WINS
                            </h4>

                            <div class="py-2 " [ngClass]="{'border-top': i > 0}" *ngFor="let x of recentwins; let i = index">

                                <div class="row">
                                    <div class="col-6">
                                        <small>{{x.input_date | date}} </small>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small>SO {{x.so_number}}</small>
                                    </div>
                                </div>
                                <div><b>{{x.company}}</b> </div>
                                <div>{{currency}} {{x.grand_total | number}} </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <div class="card-body pt-2">
                            <h4>
                                TOP 5 RECENT QUOTATION ON PROCESS
                            </h4>

                            <div class="py-2 " [ngClass]="{'border-top': i > 0}" *ngFor="let x of recentQuotation; let i = index">

                                <div class="row">
                                    <div class="col-6">
                                        <small>{{x.input_date | date}}</small>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small>SO {{x.quote_number}}</small>
                                    </div>
                                </div>

                                <div><b>{{x.company}}</b> </div>
                                <div>{{currency}} {{x.grand_total | number}} </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <div class="card-body pt-2">
                            <h4>
                                MUST EVENT THIS MONTH
                            </h4>

                            <div class="py-2 " [ngClass]="{'border-top': i > 0}" *ngFor="let x of event; let i = index">
                                <small>{{x.start_datetime | date}}</small>
                                <div><b>{{x.subject}}</b> </div>
                                <div>{{x.name}} <code>{{x.module}}</code> </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <div class="card-body pt-2">
                            <h4>
                                MUST VISIT THIS MONTH
                            </h4>

                            <div class="py-2 " [ngClass]="{'border-top': i > 0}" *ngFor="let x of visit; let i = index">
                                <small>{{x.start_datetime | date}}</small>
                                <div><b>{{x.subject}}</b> </div>
                                <div>{{x.name}} <code>{{x.module}}</code> </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>



</div>
<!-- * App Capsule -->






<app-app-bottom-menu></app-app-bottom-menu>