<!-- App Header -->
<div class="appHeader bg-light text-dark">
     
    <div class="pageTitle">Sales Trax</div>
    <div class="right">
        <a href="javascript:;" class="headerButton">
            <ion-icon name="mail-outline"></ion-icon>
        </a>
        <a href="javascript:;" class="headerButton">
            <ion-icon name="person-add-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
 

    <div class="section  mt-3 mb-3">
      
        <div class="row">
            <div class="col-3">
                
                    <ion-icon name="person-add-outline"></ion-icon>
               
              
            </div>
        </div>
    </div>

 
 

</div>
<!-- * App Capsule -->






<app-app-bottom-menu></app-app-bottom-menu>