 

<!-- App Header -->
<div class="appHeader bg-github text-light">
    <div class="left">
        <a [routerLink]="[ '/home' ]"  class="headerButton">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        Products
    </div>
    <div class="right">
        <a href="javascript:;" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a> 
    </div>
</div>
<!-- * App Header -->

<!-- Search Component -->
<div id="search" class="appHeader">
    <form class="search-form">
        <div class="form-group searchbox">
            <input type="text" class="form-control" placeholder="Search..."  [(ngModel)]="search"  [ngModelOptions]="{standalone: true}" >
            <i class="input-icon">
                <ion-icon name="search-outline"></ion-icon>
            </i>
            <a href="javascript:;" class="ml-1 close toggle-searchbox">
                <ion-icon name="close-circle"></ion-icon>
            </a>
        </div>
    </form>
</div>
<!-- * Search Component -->

<!-- App Capsule -->
<div id="appCapsule"> 
    <ul class="listview image-listview media  ">
        <li *ngFor="let x of items    | searchPipe:'name':search  ">
            <span class="item"> 
                <div class="in">
                    <div>
                        <header> {{x.sku}} ({{x.type}})</header>
                        {{x.name}}
                        <footer>{{x.currency}} {{x.price | number}}</footer>
                    </div>
                    <span class="text-muted text-center" [hidden]="x.type == 'Service'  ">
                        <div><small>Qty</small> </div> 
                        {{x.qty ? x.qty : 0}}</span>
                </div>
            </span>
        </li>
    </ul>

   <div class="row" [hidden]="!loading">
       <div class="col-12 text-center py-5">
            <div class="spinner-border text-primary" role="status"></div>
       </div>
   </div>
</div>
<!-- * App Capsule -->


<app-app-bottom-menu></app-app-bottom-menu>