<!-- App Header -->
<div class="appHeader bg-github text-light">
    <div class="left">
        <a [routerLink]="[ '/home' ]" class="headerButton">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        Products
    </div>
    <div class="right">
        <a href="javascript:;" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- Search Component -->
<div id="search" class="appHeader">
    <form class="search-form">
        <div class="form-group searchbox">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
            <i class="input-icon">
                <ion-icon name="search-outline"></ion-icon>
            </i>
            <a href="javascript:;" class="ml-1 close toggle-searchbox">
                <ion-icon name="close-circle"></ion-icon>
            </a>
        </div>
    </form>
</div>
<!-- * Search Component -->

<!-- App Capsule -->
<div id="appCapsule">
    <ul class="listview image-listview media  ">
        <li *ngFor="let x of items    | searchPipe:'name':search  ">
            <span class="item">
                <div class="in text-dark" (click)="productDetail(x.id)" data-toggle="modal" data-target="#ModalBasic">
                    <div>

                        <header> {{x.sku}} ({{x.type}})</header>
                        {{x.name}}
                        <footer>{{x.currency}} {{x.price | number}}</footer>

                    </div>
                    <span class="text-muted text-center" [hidden]="x.type == 'Service'  ">

                        <div><small>Qty</small> </div>
                        {{x.qty ? x.qty : 0}}

                    </span>
                </div>
            </span>
        </li>
    </ul>

    <div class="row" [hidden]="!loading">
        <div class="col-12 text-center py-5">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
    </div>
</div>
<!-- * App Capsule -->





<!-- Modal Basic -->
<div class="modal fade modalbox" id="ModalBasic" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Product Detail</h5>
                <a href="javascript:;" data-dismiss="modal">Close</a>
            </div>
            <div class="modal-body"  [hidden]="loading">

                <table class="table">
                    <tr>
                        <td>Sku</td>
                        <td>{{productDetailData['sku']}}</td>
                    </tr>

                    <tr>
                        <td>Name</td>
                        <td>{{productDetailData['name']}}</td>
                    </tr>

                    <tr>
                        <td>description</td>
                        <td>{{productDetailData['description']}}</td>
                    </tr> 
                    <tr>
                        <td> Price</td>
                        <td> {{productDetailData['currency']}} {{productDetailData['price'] | number}}</td>
                    </tr>
                    <tr>
                        <td> Type</td>
                        <td>{{productDetailData['product_type']}}</td>
                    </tr>
                    <tr [hidden]="productDetailData['product_type'] == 'Service' ">
                        <td>Qty </td>
                        <td>{{productDetailData['qty'] > 0?  productDetailData['qty']: 0}}</td>
                    </tr>
                </table>

                <h4 class="mt-3">
                    WAREHOUSE LOCATION INFORMATION
                </h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th> Code </th>
                            <th> Location </th>
                            <th> Qty </th>
                        </tr>
                    </thead>
                    <tr *ngFor="let x of productLocationData">
                        <td>{{x.id}}</td>
                        <td>{{x.location_code}}</td>
                        <td>{{x.location}}</td>
                        <td>{{x.qty}}</td>
                    </tr>
                </table>

                <h4 class="mt-3">
                    ATTACHMENT
                </h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Files</th>
                            <th width="100">Size</th> 
                        </tr>
                    </thead>
                    <tr *ngFor="let x of attachmentData">
                        <td> <a href="{{x.url}}" target="_blank"> {{x.file_name}}</a> </td>
                        <td> {{x.size }} </td>
                        
                    </tr>
                </table>
                
              
 
            </div>
            <div  [hidden]="!loading">
                Loading...
            </div>

        </div>
    </div>
</div>
<!-- * Modal Basic -->



<app-app-bottom-menu></app-app-bottom-menu>